body {
    font: 20px "Century Gothic", Futura, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
  }

html, body {
    width: 99%;
    height: 99%;
}  

  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    height: 99px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 99px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  