<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>

        <link rel="stylesheet" href="/css/main.css">
                
    </head>


    <body>
        {% include navigation.html %}
        
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        
        <footer>
            <ul>
                <li><a href="mailto:hey@rocketgeek.wtf">E-mail me</a></li>
                <li><a href="https://github.com/RocketGeek42">Check out my GitHub</a></li>
            </ul>
        </footer>
    </body>

</html>
